@font-face {
    font-family: 'Noto-serif';
    src: url('../fonts/Noto_Serif/NotoSerif-VariableFont_wdth\,wght.ttf') format('woff2'),
         url('../fonts/Noto_Serif/NotoSerif-Italic-VariableFont_wdth\,wght.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto-serif', sans-serif;
}

:root {
    --primary-color: #d35400 ;/* Blue */
    --accent-color:  #ffffff;/* Orange */
    --neutral-color: #6E6E6E; /* Gray */
    --text-color: #000000; /* Black */
    --text-light: #ffffff; /* White */

    --font-heading: 48px;
    --font-title: 32px;
    --text-regular: 14px;
    --text-medium: 18px;

  }

body{
    font-size: var(--text-regular);
}


.hero-section{
    height: 100vh;
    background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)),
    url("/images/fifi-k1.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10%;
    
}

/*Section 2 steps*/

.plans-section{
    display: flex;
    flex-direction: column;
    padding: 70px 100px;
    gap: 50px;
    background-color: var(--accent-color);
}

.plans-left{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.plans-left-p{
    color: var(--neutral-color);
    font-size: var(--text-medium);
}

.left-heading{
    font-size: var(--font-title);
    border-left: 8px solid var(--primary-color);
    padding-left: 20px;
}


.plans-right{
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    gap:30px;
    padding: 50px 30px;
    background-color: #f5e6e1;
}

.right-content{
    padding: 30px;
    border-radius: 15px;
    display: flex;
    width: 28%;
    flex-direction: column;
    gap:10px;    
    background-image: 
    linear-gradient(to right, rgba(211, 84, 0, 0.7), rgba(211, 84, 0, 0.7)),
    url('/images/how-to-draw-floorplan.jpg');
}
.right-content p{
    color: var(--text-light);
}

.btn-white{
    background-color: var(--accent-color);
    padding: 15px;
    text-decoration: none;
    color: #4d4d4d;
    text-align: center;
    border-radius: 15px;
    width: 80%;
    margin: auto;
    font-size: var(--text-regular);
}
.btn-white:hover{
    background-color: #d38957;
    color: #ffffff;
}

.right-content h2{
    color:#f6c8aa;
}

.hero-content{
    color: var(--text-light);
}
.hero-title{
    border-left: solid 8px var(--primary-color);
    padding: 0.1em 1em;
    font-size: var(--font-heading);
}
.hero-p{
    padding: 0.1em 2.5em;
    font-size: 1.6rem;
}
.icon-img{
    width: 50px;
    height: 50px;
}

.icon-color{
    filter: invert(70%) sepia(70%) saturate(2000%) hue-rotate(10deg);
}
.action-btn{
    background-color: var(--primary-color);
    color: var(--text-light);
    text-decoration: none;
    padding: 15px;
    border-radius: 15px;
}
.action-btn:hover{
    background-color: #d38957;
}
.plans-left-actions{
    align-self:baseline;
}

.testimonials{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 30px;
    color: #ffffff;
}

.testimony{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.testimonials-img{
    width: 50%;
    height: 250px;
    overflow: hidden;
    border-radius: 15px;
}

.testimonials-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials-heading{
    border-left: solid 6px #d38957;
    padding: 10px 30px;
    font-size: 26px;
}

.testimonials-txt{
    font-size: var(--text-medium);
}

/* Recent Projects*/
.recent-projects-section{
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    gap: 40px;
    padding: 50px;
}

.recent-projects{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.home-card{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 350px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px gray;
    gap: 20px;
}

.img-holder{
    height: 70%;
    width: 100%;
    overflow: hidden;
}
.img-holder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recent-projects-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4d4d4d;
}

.recent-projects-heading h1{
    font-size: 48px;
}

.recent-projects-heading p{
    font-size: var(--text-medium);
}

.home-card-title{
    text-align: center;
    color: #d35400;
}

/*Facts section*/
.facts-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 40px 10px;
}
.facts-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4d4d4d;
}
.facts-heading h1{
    font-size: 42px;
}
.facts-heading p{
    font-size: var(--text-medium);
}

.facts-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-image: linear-gradient( rgba(255,255,255, 0.9), rgba(255,255,255, 0.8), rgba(255,255,255, 0.8), rgba(0,0,0, 0.5)),
    url('/images/house-for-sale-kibagabaga-11-1170x650.webp');
    background-size: cover;
    background-position: center;
}
.fact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    text-transform: uppercase;
}
.fact h1{
    color: var(--primary-color);
    font-size: 64px;
}
.fact p{
    color: #4d4d4d;
    font-size: larger;
}



/*Form Section*/
.form-section{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 100px;
    gap: 40px;
    background-image: 
    linear-gradient(to right, rgba(81, 81, 81, 0.9), rgba(81, 81, 81, 0.9)),
    url('/images/the-destination-front-rendering.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.section-form{
    width: 100%;
}
.section-form form{
    display: flex;
    flex-direction: column;
    font-size: var(--text-medium);
    gap: 10px;
}

.form-inputs{
    display: flex;
    width: 100%;
    gap: 20px;
}

.form-inputs input{
    width: 50%;
    font-size: var(--text-medium);
    padding: 15px;
    border-radius: 15px;
    outline: none;
    border: none;
}

.form-txt-area{
    width:100%;
}

.form-txt-area textarea{
    width: inherit;
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 15px;
    font-size: var(--text-medium);
}
.form-action input{
    padding: 15px;
    width: 300px;
    border-radius: 15px;
    border: none;
    background-color: var(--primary-color);
    color: var(--text-light);
    cursor: pointer;
}

.form-action input:hover{
    background-color: #d38957;
    color: var(--text-light);
}

.form-section-heading{
    font-size: 28px;
    border-left: #d35400 solid 6px;
    padding: 5px 15px;
}

.form-section-p{
    padding: 10px 30px;
    font-size: var(--text-medium);
}

.footer-section{
    background-color: var(--primary-color);
    color: var(--text-light);
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 50px;
}
.projects-list{
    padding-top: 10px;
    display: flex;
    gap: 10px;
}
.footer-img{
    width: 150px;
    height: 100px;    
}

.footer-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer-right{
    display: flex;
    flex-direction: column;
    text-align: end;
    gap: 10px;
}

.icon-img{
    width: 24px;
    height: 24px;

    filter: invert(70%) sepia(70%) saturate(2000%) hue-rotate(10deg);
}
.contact-span{
    display: flex;
    gap: 10px;
}
.footer-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.links-list{
    padding-top: 10px;
    display: flex;
    justify-content: end;
    gap: 50px;
}
.action-banner{
    background-color: #d38957;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 35px;
    color: var(--text-light);
}
.action-banner-btn{
    background-color: var(--primary-color);
    text-decoration: none;
    color: var(--text-light);
    padding: 20px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
}

.action-banner-btn:hover{
    background-color: #f1a26d;    
}

.renovate-or-build{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px;
}

.renovate-or-build h1{
    font-size: 48px;
    color: #4d4d4d;
}
.renovate-or-build p{
    color: #4d4d4d;
    font-size: var(--text-medium);
}

.renovate-or-build-choice{
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.build{
    background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('/images/fifi-k1.webp');
    background-size: cover;
}

.build, .renovate{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px;
    color: var(--text-light);
    border-radius: 15px;
    width:50%;
    height: 70vh;
    
}
.build h1, .renovate h1{
    color: var(--text-light);
    font-size: 24px;
}
.build div, .renovate div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.build div a, .renovate div a{
    margin: 0;
    align-self: baseline;
    padding: 15px 30px;
    width: auto;
}

.renovate{
    background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('/images/kara-eads-L7EwHkq1B2s-unsplash.jpg');
    background-size: cover;
}



/*contacts-section*/
.contact-section{
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    padding: 50px;
    gap: 40px;
}

.contact-heading{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-heading h1 {
    font-size: 48px;
    padding-left: 15px;
    border-left: solid 6px var(--primary-color);
    color: #4d4d4d;
}
.contact-section p{
    padding-left: 30px;
    font-size: var(--text-medium);
    color: #6E6E6E;
}

.contact-left{
    display: flex;
    flex-direction: column;
    background-color: #f5e6e1;
    padding: 50px 100px;
    border-radius: 15px;
    gap: 40px;
    flex-grow: 1;
}

.contact-card{
    display: flex;
    gap: 20px;
}

.contact-card .card-icon{
    display: flex;
    width: 52px;
    height: 52px;
    justify-content: center;
    align-items: center;
    background-color: #d38957;
    border-radius: 50%;
    padding: 10px;
}
.contact-card .card-icon img{
    width:100%;
    height: 100%;
    object-fit: cover;
    filter: invert(100%) sepia(0%) saturate(0%);
}

.contact-card .card-info{
    display: flex;
    flex-direction: column;
    font-size: var(--text-medium);
    color: #4d4d4d;
}

.contact-card .card-info span:first-child{
    color: #d35400;
}

.contact-right{
    border-radius: 15px;
    width: 35%;
    height: inherit;
    overflow: hidden;
}
.contact-right img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.contact-content{
    padding: 10px 50px;
    display: flex;
    gap: 15px;
}

@media (max-width: 868px) {

    :root {
        --primary-color: #d35400 ;/* Blue */
        --accent-color:  #ffffff;/* Orange */
        --neutral-color: #6E6E6E; /* Gray */
        --text-color: #000000; /* Black */
        --text-light: #ffffff; /* White */
    
        --font-heading: 24px;
        --font-title: 18px;
        --text-regular: 11px;
        --text-medium: 14px;
    
      }

    body{
        overflow-x: hidden;
    }
    /*hero section*/
    .hero-section{
        padding: 100px 20px;
    }

    .hero-title h1{
        font-size: var(--font-heading);
    }

    .hero-p p{
        font-size: var(--font-medium);
    }

    /*contact section*/
    .contact-section{
        padding: 30px;
    }
    .contact-heading h1{
        font-size: var(--font-title);
    }
    .contact-heading p{
        font-size: var(--text-medium);
    }

    .contact-content{
        flex-direction: column;
        padding: 10px;
    }

    .contact-left{
        padding: 20px 20px;
    }

    .contact-right{
        width: 100%;
    }

    /*form section*/
    .form-section{
        padding: 30px;
        font-size: var(--text-regular);
    }
    .form-section-heading h1{
        font-size: var(--font-title);
    }

    form .form-inputs{
        flex-direction: column;
    }
    .form-inputs input{
        width: 100%;
    }
    .projects-list{
        flex-wrap: wrap;
    }


}
@media (max-width: 600px){
    .hero-title{
        font-size: 18px;
    }

    /*footer section*/
    .footer-section{
        flex-direction: column;
        padding: 20px;
    }
    
}