@font-face {
    font-family: 'Noto-serif';
    src: url('../fonts/Noto_Serif/NotoSerif-VariableFont_wdth\,wght.ttf') format('woff2'),
         url('../fonts/Noto_Serif/NotoSerif-Italic-VariableFont_wdth\,wght.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto-serif', sans-serif;
}

:root {
    --primary-color: #d35400 ;/* Blue */
    --accent-color:  #ffffff;/* Orange */
    --neutral-color: #6E6E6E; /* Gray */
    --text-color: #000000; /* Black */
    --text-light: #ffffff; /* White */

    --font-heading: 48px;
    --font-title: 32px;
    --text-regular: 14px;
    --text-medium: 18px;

  }

body{
    font-size: var(--text-regular);
    background-image: url("/images/fifi-k1.webp");
    background-size: 100%;
    background-repeat: no-repeat;
}


.hero-section{
    height: 80vh;
    background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10%;
    
}

.hero-content{
    color: var(--text-light);
}
.hero-title{
    border-left: solid 8px var(--primary-color);
    padding: 0.1em 1em;
    font-size: var(--font-heading);
}
.hero-p{
    padding: 0.1em 2.5em;
    font-size: 1.6rem;
}

/*gallery section*/

.gallery-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    width: 100%;
    gap: 20px;
    background-color: var(--accent-color);
}

.gallery-img-card{
    width:30%;
    height: 55vh;
    box-shadow: 0px 2px 5px #999999;
    transition: ease-out 0.2s;
}
.gallery-img-card:hover{
    box-shadow: 0px 2px 5px 3px #999999;
    transition: ease-in 0.2s;
}

.img-holder{
    width: 100%;
    height: 70%;
    
}
.img-holder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-title{
    font-size: 24px;
    color: var(--primary-color);
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform:uppercase;
}


/*Form Section*/
.form-section{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 100px;
    gap: 40px;
    background-image: 
    linear-gradient(to right, rgba(81, 81, 81, 0.9), rgba(81, 81, 81, 0.9)),
    url('../images/josue-isai-ramos-figueroa-Pj4je7OjrME-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.section-form{
    width: 100%;
}
.section-form form{
    display: flex;
    flex-direction: column;
    font-size: var(--text-medium);
    gap: 10px;
}

.form-inputs{
    display: flex;
    width: 100%;
    gap: 20px;
}

.form-inputs input{
    width: 50%;
    font-size: var(--text-medium);
    padding: 15px;
    border-radius: 15px;
    outline: none;
    border: none;
}

.form-txt-area{
    width:100%;
}

.form-txt-area textarea{
    width: inherit;
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 15px;
    font-size: var(--text-medium);
}
.form-action input{
    padding: 15px;
    width: 300px;
    border-radius: 15px;
    border: none;
    background-color: var(--primary-color);
    color: var(--text-light);
    cursor: pointer;
}

.form-action input:hover{
    background-color: #d38957;
    color: var(--text-light);
}

.form-section-heading{
    font-size: 28px;
    border-left: #d35400 solid 6px;
    padding: 5px 15px;
}

.form-section-p{
    padding: 10px 30px;
    font-size: var(--text-medium);
}

.footer-section{
    background-color: var(--primary-color);
    color: var(--text-light);
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 50px;
}
.projects-list{
    padding-top: 10px;
    display: flex;
    gap: 10px;
}
.footer-img{
    width: 150px;
    height: 100px;    
}

.footer-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer-right{
    display: flex;
    flex-direction: column;
    text-align: end;
    gap: 10px;
}

.icon-img{
    width: 24px;
    height: 24px;

    filter: invert(70%) sepia(70%) saturate(2000%) hue-rotate(10deg);
}
.contact-span{
    display: flex;
    gap: 10px;
}
.footer-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.links-list{
    padding-top: 10px;
    display: flex;
    justify-content: end;
    gap: 50px;
}
.action-banner{
    background-color: #d38957;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 35px;
    color: var(--text-light);
}
.action-banner-btn{
    background-color: var(--primary-color);
    text-decoration: none;
    color: var(--text-light);
    padding: 20px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
}

.action-banner-btn:hover{
    background-color: #f1a26d;    
}

.renovate-or-build{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px;
}

.renovate-or-build h1{
    font-size: 48px;
    color: #4d4d4d;
}
.renovate-or-build p{
    color: #4d4d4d;
    font-size: var(--text-medium);
}

.renovate-or-build-choice{
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.build{
    background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('/images/fifi-k1.webp');
    background-size: cover;
}

.build, .renovate{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px;
    color: var(--text-light);
    border-radius: 15px;
    width:50%;
    height: 70vh;
    
}
.build h1, .renovate h1{
    color: var(--text-light);
    font-size: 24px;
}
.build div, .renovate div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.build div a, .renovate div a{
    margin: 0;
    align-self: baseline;
    padding: 15px 30px;
    width: auto;
}

.renovate{
    background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('/images/kara-eads-L7EwHkq1B2s-unsplash.jpg');
    background-size: cover;
}
