@font-face {
    font-family: 'Noto-serif';
    src: url('../fonts/Noto_Serif/NotoSerif-VariableFont_wdth\,wght.ttf') format('woff2'),
         url('../fonts/Noto_Serif/NotoSerif-Italic-VariableFont_wdth\,wght.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #d35400 ;/* Blue */
    --accent-color:  #ffffff;/* Orange */
    --neutral-color: #6E6E6E; /* Gray */
    --text-color: #000000; /* Black */
    --text-light: #ffffff; /* White */

    --font-heading: 48px;
    --font-title: 32px;
    --text-regular: 14px;
    --text-medium: 18px;

  }

.nav-section{
    background-color: var(--accent-color);
    padding: 1em;
    width: 100%;
    display: block;
    position: fixed;
    z-index: 10;
    box-shadow: 0px 0.5px 5px #6E6E6E;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    display: flex;
    gap: 2em;
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
}

.nav-list a{
    text-decoration: none;
    color: var(--text-color);
}
.nav-list a:hover{
    color: #d35400;
    font-weight: bold;
}
.nav-list a.active{
    color: #d35400;
    font-weight: bold;
}